mark.c1 { background: var(--color-red); }
mark.c2 { background: var(--color-orange); }
mark.c3 { background: var(--color-yellow); }
mark.c4 { background: var(--color-green); }
mark.c5 { background: var(--color-cyan); }
mark.c6 { background: var(--color-purple); }
